In [1]:
# Ques :-16. Write a program to check if a year is a leap year.

In [7]:
year = int(input("Enter a year : "))
if (year%4==0):
    ("It's a leap year ")
else:
    ("It's not a leap year ")

Enter a year :  2024

In [9]:
# Ques:- 17. Write a Python program to find the greatest common divisor (GCD) of two numbers.

In [13]:
num1 = int(input("Enter a number 1 : "))
num2 = int(input("Enter a number 2 : "))
gcd = 1
for i in range (1,num1+1):
    if (num1%i==0) and (num2%i==0):
        gcd = i
print("LCM/HCf, 'gcd' ",gcd)

Enter a number 1 :  75
Enter a number 2 :  45

LCM/HCf, 'gcd'  15

In [15]:
# ques 18:- Write a Python program to print the sum of all numbers in a given range.

In [19]:
start = int (input("Enter start range : "))
End = int(input("Enter end range : "))
add = 0
for i in range (start,End+1):
    add= add+i
    print("sum of all natural numbers :", add)

Enter start range :  1
Enter end range :  100

sum of all natural numbers : 1
sum of all natural numbers : 3
sum of all natural numbers : 6
sum of all natural numbers : 10
sum of all natural numbers : 15
sum of all natural numbers : 21
sum of all natural numbers : 28
sum of all natural numbers : 36
sum of all natural numbers : 45
sum of all natural numbers : 55
sum of all natural numbers : 66
sum of all natural numbers : 78
sum of all natural numbers : 91
sum of all natural numbers : 105
sum of all natural numbers : 120
sum of all natural numbers : 136
sum of all natural numbers : 153
sum of all natural numbers : 171
sum of all natural numbers : 190
sum of all natural numbers : 210
sum of all natural numbers : 231
sum of all natural numbers : 253
sum of all natural numbers : 276
sum of all natural numbers : 300
sum of all natural numbers : 325
sum of all natural numbers : 351
sum of all natural numbers : 378
sum of all natural numbers : 406
sum of all natural numbers : 435
sum of all natural numbers : 465
sum of all natural numbers : 496
sum of all natural numbers : 528
sum of all natural numbers : 561
sum of all natural numbers : 595
sum of all natural numbers : 630
sum of all natural numbers : 666
sum of all natural numbers : 703
sum of all natural numbers : 741
sum of all natural numbers : 780
sum of all natural numbers : 820
sum of all natural numbers : 861
sum of all natural numbers : 903
sum of all natural numbers : 946
sum of all natural numbers : 990
sum of all natural numbers : 1035
sum of all natural numbers : 1081
sum of all natural numbers : 1128
sum of all natural numbers : 1176
sum of all natural numbers : 1225
sum of all natural numbers : 1275
sum of all natural numbers : 1326
sum of all natural numbers : 1378
sum of all natural numbers : 1431
sum of all natural numbers : 1485
sum of all natural numbers : 1540
sum of all natural numbers : 1596
sum of all natural numbers : 1653
sum of all natural numbers : 1711
sum of all natural numbers : 1770
sum of all natural numbers : 1830
sum of all natural numbers : 1891
sum of all natural numbers : 1953
sum of all natural numbers : 2016
sum of all natural numbers : 2080
sum of all natural numbers : 2145
sum of all natural numbers : 2211
sum of all natural numbers : 2278
sum of all natural numbers : 2346
sum of all natural numbers : 2415
sum of all natural numbers : 2485
sum of all natural numbers : 2556
sum of all natural numbers : 2628
sum of all natural numbers : 2701
sum of all natural numbers : 2775
sum of all natural numbers : 2850
sum of all natural numbers : 2926
sum of all natural numbers : 3003
sum of all natural numbers : 3081
sum of all natural numbers : 3160
sum of all natural numbers : 3240
sum of all natural numbers : 3321
sum of all natural numbers : 3403
sum of all natural numbers : 3486
sum of all natural numbers : 3570
sum of all natural numbers : 3655
sum of all natural numbers : 3741
sum of all natural numbers : 3828
sum of all natural numbers : 3916
sum of all natural numbers : 4005
sum of all natural numbers : 4095
sum of all natural numbers : 4186
sum of all natural numbers : 4278
sum of all natural numbers : 4371
sum of all natural numbers : 4465
sum of all natural numbers : 4560
sum of all natural numbers : 4656
sum of all natural numbers : 4753
sum of all natural numbers : 4851
sum of all natural numbers : 4950
sum of all natural numbers : 5050

In [21]:
# ques:-19 :- Write a program to find whether a given number is Armstrong or not.

In [23]:
#  An Armstrong number is a number that equals the sum of its individual digits, each raised to the power of the number of digits. 
# For example, 153 is an Armstrong number because 1^3 + 5^3 + 3^3 equals 153. 
# It's a self-descriptive mathematical property used in coding and math puzzles.

In [27]:
num = int(input("Enter a number : "))
temp = num
total = 0
while(num>0):
    rem=(num%10)
    total = total+rem*rem*rem
    num =int(num/10)
    if(temp==total):
        print("number is armstrong")
    else:
        print("number is not armstrong")

Enter a number :  234

number is not armstrong
number is not armstrong
number is not armstrong

In [29]:
num = int(input("Enter a number : "))
temp = num
total = 0
while(num>0):
    rem=(num%10)
    total = total+rem*rem*rem
    num =int(num/10)
    if(temp==total):
        print("number is armstrong")
    else:
        print("number is not armstrong")

Enter a number :  153

number is not armstrong
number is not armstrong
number is armstrong

In [31]:
num = int(input("Enter a number : "))
temp = num
total = 0
while(num>0):
    rem = (num%10)
    total = total+rem*rem*rem
    num = int(num/10)
    if(temp==total):
        print("number is armstrong")
    else:
        print("number is not armstrong")

Enter a number :  123

number is not armstrong
number is not armstrong
number is not armstrong

In [33]:
# ques 20:- Write a Python program to print all even numbers between 1 and 50.

In [37]:
print("Even numbers between 1 and 50")
for i in range (1,51):
    if(i%2==0):
        print(i,end= " ")

Even numbers between 1 and 50
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [39]:
# ques 21:- Write a Python program to print all odd numbers between 1 and 50.

In [43]:
print("Odd number betwwn 1 and 50")
for i in range(1,51):
    if(i%3==0):
        print(i,end=" ")

Odd number betwwn 1 and 50
3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48

In [45]:
# ques 22:-  Write a Python program to print all odd numbers between 1 and 200.

In [57]:
print("Odd numbers between 1and 200")
for i in range(1,201):
    if(i%3==0):
        print(i,end="\n")

Odd numbers between 1and 200
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102
105
108
111
114
117
120
123
126
129
132
135
138
141
144
147
150
153
156
159
162
165
168
171
174
177
180
183
186
189
192
195
198

In [59]:
# Now Quetions of list and tuple :-

In [61]:
# ques 23:- Write a program to find the maximum and minimum numbers in a list.

In [65]:
list1= [1,3,45,6,44,34,355,67,78,988,7,54,44,56]
min = list1[0]
max = list1[0]
for i in list1 :
    if(i<min):
        min = i
    if(i>max):
        max = i
        print("list : ", list1)
        print("minmun :", min)
        print("maximum :", max)

list :  [1, 3, 45, 6, 44, 34, 355, 67, 78, 988, 7, 54, 44, 56]
minmun : 1
maximum : 3
list :  [1, 3, 45, 6, 44, 34, 355, 67, 78, 988, 7, 54, 44, 56]
minmun : 1
maximum : 45
list :  [1, 3, 45, 6, 44, 34, 355, 67, 78, 988, 7, 54, 44, 56]
minmun : 1
maximum : 355
list :  [1, 3, 45, 6, 44, 34, 355, 67, 78, 988, 7, 54, 44, 56]
minmun : 1
maximum : 988

In [67]:
# ques 24:- Write a Python program to reverse a list.

In [69]:
list1 = [2,45,67,45,45,23,45,87,98]
print("list ",list1)
list1.reverse()
print("list", list1)

list  [2, 45, 67, 45, 45, 23, 45, 87, 98]
list [98, 87, 45, 23, 45, 45, 67, 45, 2]

In [71]:
# ques 25:- Write a Python program to reverse a list.
list2 =[23,654,45,4,4345,4,34,4,65]
print("list", list2)
list2.reverse()
print("list", list2)

list [23, 654, 45, 4, 4345, 4, 34, 4, 65]
list [65, 4, 34, 4, 4345, 4, 45, 654, 23]

In [73]:
# ques 26:- Write a Python program to find the sum of all elements in a list.

In [81]:
list1 =[12,34,56,765,434]
sum = 0
for i in list1:
    sum= sum+i
print("list : ", list1)
print("Sum of all element of list =", sum)

list :  [12, 34, 56, 765, 434]
Sum of all element of list = 1301

In [93]:
# ques 27:- Write a Python program to find the total of all elements in a list.
list1 = [12,34,56,765,434]
total = 0
for i in list1:
    total = total+i
    print("list:", list1)
    print("total of all numbers in list = ", total)

list: [12, 34, 56, 765, 434]
total of all numbers in list =  12
list: [12, 34, 56, 765, 434]
total of all numbers in list =  46
list: [12, 34, 56, 765, 434]
total of all numbers in list =  102
list: [12, 34, 56, 765, 434]
total of all numbers in list =  867
list: [12, 34, 56, 765, 434]
total of all numbers in list =  1301

In [95]:
# ques 28:- Write a Python program to count the number of occurrences of an element in a list.

In [107]:
list1 = [12,56,56,456,456,45,45,45,45,57,87,7]
print("list: ",list1)
num = int(input("Enter element to find occurence : "))
count = 0
for i in list1:
    if(i==num):
        count=count+1
        print("occurence : ", count)

list:  [12, 56, 56, 456, 456, 45, 45, 45, 45, 57, 87, 7]

Enter element to find occurence :  45

occurence :  1
occurence :  2
occurence :  3
occurence :  4

In [109]:
# ques 29:- Write a program to merge two lists into a single list.

In [111]:
list1= [234,456,3456,34,34,45,76,987,76,65]
list2=[54,345,45,87,65,45,34,5,7,6,876,45,3]
list3= list1+list2
print("list1: ",list1)
print("list2: ",list2)
print("merged list: ",list3)

list1:  [234, 456, 3456, 34, 34, 45, 76, 987, 76, 65]
list2:  [54, 345, 45, 87, 65, 45, 34, 5, 7, 6, 876, 45, 3]
merged list:  [234, 456, 3456, 34, 34, 45, 76, 987, 76, 65, 54, 345, 45, 87, 65, 45, 34, 5, 7, 6, 876, 45, 3]

In [113]:
# ques 30:- Write a Python program to remove duplicates from a list.
list1 = [ 2,5,7,5,4,2,5,7,4,2,4,6,3,1,4,6,4 ]
# 1st Way
# for i in range(0,len(list1)):
#     j = i+1
#     while(j<len(list1)):
#         if(list1[i]==list1[j]):
#             list1.pop(j)
#         j=j+1

# 2nd Way
# list1 = list(set(list1))

# 3rd Way
uniqueList = [ ]
for i in list1:
    if i not in uniqueList:
        uniqueList.append(i)
print("Removed Duplicate Values List : ",uniqueList)

Removed Duplicate Values List :  [2, 5, 7, 4, 6, 3, 1]

In [115]:
# ques 31:-Write a Python program to find the second largest number in a list.

In [119]:
list1 = [ 2,6,78,43,23,56,85,90,56,23,2,6,3 ]
print("List : ",list1)

if(len(list1)>1):
    list1.sort(reverse=True)
    print("Second Largest Value : ",list1[1])
else:
    print("List has less than 2 elements only!")

List :  [2, 6, 78, 43, 23, 56, 85, 90, 56, 23, 2, 6, 3]
Second Largest Value :  85

In [121]:
# ques 32:- Write a Python program to check if an element exists in a list.
list1 = [ 32,5,78,6,4,32,43,65,78,67,34,23,45 ]
print("List : ",list1)
num = int( input("Enter A Number : ") )
if(num in list1):
    print("Item Exists!")
else:
    print("Item is not exist in List!")

List :  [32, 5, 78, 6, 4, 32, 43, 65, 78, 67, 34, 23, 45]

Enter A Number :  4

Item Exists!

In [123]:
# ques 33:-	Write a program to find the intersection of two lists.
# HINT : common elements in both List
list1 = [ 2,4,6,4,7,3,2,4,4,7,3,2 ]
list2 = [ 2,5,7,9,6,3,6,8,6,4,3,7 ]
print("List1 : ",list1)
print("List2 : ",list2)
list3 = [  ]
for i in list1:
    for j in list2:
        if(i==j):
            list3.append(j)
            list2.remove(j)
            break
print("List3 : ",list3)

List1 :  [2, 4, 6, 4, 7, 3, 2, 4, 4, 7, 3, 2]
List2 :  [2, 5, 7, 9, 6, 3, 6, 8, 6, 4, 3, 7]
List3 :  [2, 4, 6, 7, 3, 7, 3]

In [125]:
# ques 34:-	Write a Python program to convert a list of tuples into a dictionary.
list1 = [ ('a',23),('b',35),('c',35),('d',67),('e',36) ]
dict1 = dict(list1)
print("List1 : ",list1)
print("Dictionary : ",dict1)

# Output:
# List1 :  [('a', 23), ('b', 35), ('c', 35), ('d', 67), ('e', 36)]
# Dictionary :  {'a': 23, 'b': 35, 'c': 35, 'd': 67, 'e': 36}

List1 :  [('a', 23), ('b', 35), ('c', 35), ('d', 67), ('e', 36)]
Dictionary :  {'a': 23, 'b': 35, 'c': 35, 'd': 67, 'e': 36}